<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Work</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body id="bodyWork" class="fullpage slide-up">
    <!-- NAV starts -->
    <div class="navspace">
      <div class="nav-line"></div>
      <div class="TWicon">
        <a href="{{ url_for('indexPage.home') }}">HOME</a>
      </div>
      <div class="copyright">© | 2024</div>
    </div>
    <!-- TITLE starts -->
    <div class="division">
      <div class="Abouttitle animated-textUp">About</div>
      <img
        src="static/uploads/Photo.jpg"
        alt="Photo"
        width="370"
        height="500"
        class="photoadjust"
      />
    </div>
    <div class="AboutSubtitle">
      Hi! My name is Karinna , I'm a problem solver but also a maker.
    </div>
    <div class="selfDescription">
      A lover of technology and a logical thinker, I come from an architecture
      background where I had the pleasure of working for two years. I discovered
      that architecture wasn't my passion, and I wanted more. I moved to America
      for a new challenge in my life and immersed myself in a Computer
      Information Systems college. I became the first person in my family to
      earn an American college degree and discover new skills. I was solving
      problems, and my past career in architecture helped me get where I am
      today. I took advantage of learning Python, HTML, CSS, JavaScript, and
      React Native, and implemented my design mindset into my software
      development. My logical thinking allowed me to find the most efficient
      ways to complete tasks. Everything I have done, small or big, has been a
      vital stepping stone to where I am today.
      <br /><br />
      Known as NurVIX on the internet, I started my streaming channel at the
      beginning of COVID-19. What began as a hobby became much more. I combined
      my passion for tech with my love of making connections. I started playing
      video games and ended up splitting my time coding with my community, where
      we all share knowledge and push each other forward. With a lot of hard
      work and time invested, I grew a channel that now reaches 3,500 followers
      and was fortunate enough to build an awesome and supportive community
      worldwide.
      <br /><br />
      As a Jiu-jitsu lover, aside from technology, I have a passion for martial
      arts. It is a part of me where I learn every day to be humble, respectful,
      and grateful. It teaches me resilience, efficiency, and critical thinking,
      which I constantly implement in my daily life.
      <br /><br />
      You will probably hear me say a lot:
      <br /><br />
      "We got this!"
      <br /><br />
    </div>
    <div class="divSubTitles">
      <div class="subTitles">Experience</div>
      <span class="skillsdescription">
        - Associates in Information technology
        <br />
        - Bachelor in Computer Information System
        <br />
        - 4 years in Software Development, Web Design, SEO Strategy, Mobile
        Devices
        <br />
        <br />
        Within these 4 years, I have:
        <br />
        <br />
        - 4 years experience in Software designing
        <br />
        - 3 years experience in Webflow Development
        <br />
        - 3 years in Mobile Devices
      </span>
      <div class="subTitles">Skills</div>
      <span class="skillsdescription">
        Technical Skills:
        <br />
        <br />
        UI/UX Design / Strategy / Product Management / Mobile Device
        Architecture / Design Sprints / Python / HTML and CSS / React Native /
        Webflow Development
        <br />
        <br />
        Personal Skills:
        <br />
        <br />
        Photography / Jiu jitsu / Guitar / Archery / Chess / Cooking
      </span>
      <div class="buttonbox">
        <a
          href="../static/uploads/Karinna Rocha Resume.pdf"
          target="_blank"
          class="button w-button"
          >My CV</a
        >
      </div>
    </div>
  </body>
</html>
