<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Work</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body id="bodyWork" class="fullpage slide-up">
    <!-- NAV starts -->
    <div class="navspace">
      <div class="nav-line"></div>
      <div class="TWicon">
        <a href="{{ url_for('indexPage.home') }}">HOME</a>
      </div>
      <div class="copyright">© | 2024</div>
    </div>
    <!-- TITLE starts -->
    <div class="division">
      <div class="Abouttitle animated-textUp">About</div>
      <img
        src="static/uploads/Photo.jpg"
        alt="Photo"
        width="370"
        height="500"
        class="photoadjust"
      />
    </div>
    <div class="AboutSubtitle">
      Hi! My name is Karinna , I'm a problem solver but also a maker.
    </div>
    <div class="selfDescription">
      A lover for technology and a logical thinker, I came with an architecture
      background where I had the pleasure to work for two years of my like,
      there I found out all the clients had the same problem, they want us to
      solve the flow of their house implementing their personality into their
      homes, working in there I developed the sense of measurements and colors,
      fascinated to use AutoCAD and Sketch up.
      <br /><br />
      I found out architecture was not my thing and I wanted more, moved to
      America for a new challenge in my life, and emerged myself into a Computer
      Information System college, became the first person in my family to earn
      an American college degree and discover new skills, I was solving
      problems, with combination of my past career in Architecture helped me to
      get where I am today, took the advantage I was learning HTML, CSS and
      JavaScript and implemented my design mindset into my softwares and my
      logical thinker to propagate the most efficient way to complete the tasks.
      Everything I have done, small or big, has been a vital stepping stone for
      where I am today.
      <br /><br />
      Known as NurVIX as well on the internet, in the beginning of Covid-19, I
      started my streaming channel that became much more than a Hobby, I
      involved my passion for tech with the love of making connections, I
      started playing videogame and end-up splitting my time coding with my
      community where we all share knowledge and push each other forward. With a
      lot of hard word and time invested, I grew a channel that reaches 3.500
      followers and was fortunate enough to build an awesome and supportive
      community all around the world.
      <br /><br />
      As a Jiu-jitsu lover, aside technology, I have a passion for marcial arts,
      It is a part of me where I learn everyday to be humble, respect and
      gratitude. Teaches me how to be resilient and always keep trying,
      efficiency and critical thinking. Constantly implementing these skills on
      my daily basis.
      <br /><br />
      You will probably hear me say a lot:
      <br /><br />
      We got this!
      <br /><br />
    </div>
    <div class="divSubTitles">
      <div class="subTitles">Experience</div>
      <span class="skillsdescription">
        - Associates in Information technology
        <br />
        - Bachelor in Computer Information System
        <br />
        - 4 years in Software Development, Web Design, SEO Strategy, Mobile
        Devices
        <br />
        <br />
        Within these 4 years, I have:
        <br />
        <br />
        - 4 years experience in Software designing
        <br />
        - 3 years experience in Webflow Development
        <br />
        - 3 years in Mobile Devices
      </span>
      <div class="subTitles">Skills</div>
      <span class="skillsdescription">
        Technical Skills:
        <br />
        <br />
        UI/UX Design / Strategy / Product Management / Mobile Device
        Architecture / Design Sprints / Python / HTML and CSS / React Native /
        Webflow Development
        <br />
        <br />
        Personal Skills:
        <br />
        <br />
        Photography / Jiu jitsu / Guitar / Archery / Chess / Cooking
      </span>
      <div class="buttonbox">
        <a
          href="../static/uploads/Resume Karinna .pdf"
          target="_blank"
          class="button w-button"
          >My CV</a
        >
      </div>
    </div>
  </body>
</html>
