<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AIBEANS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body id="bodyAIBeans" class="fullpage">
    <div class="navspace">
      <div class="nav-line"></div>
      <div class="TWicon">
        <a href="{{ url_for('workPage.workpage') }}">WORK</a>
      </div>
      <div class="copyright">© | 2024</div>
    </div>
    <div class="experienceTitle">AIBEANS</div>
  </body>
</html>
