<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NurVIX</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="fullpage sandbackground">
    <!-- NAV starts -->
    <div class="navspace navspace.dark">
      <div class="nav-line"></div>
      <div class="LTicon">
        <a href="https://www.linkedin.com/in/karinnarocha/" target="_blank"
          >LI</a
        >
      </div>
      <div class="GHicon">
        <a href="https://github.com/karinnarocha" target="_blank">GH</a>
      </div>
      <div class="TWicon">
        <a href="https://x.com/_nurvix" target="_blank">TW</a>
      </div>
      <div class="copyright">© | 2024</div>
    </div>

    <!-- TITLE starts -->
    <header>
      <a href="https://www.twitch.tv/nurvix" class="nurvixHeader">NurVIX</a>
      <div class="karinnaHeader animated-textRight4s">Karinna Rocha</div>
    </header>

    <!-- Body starts -->
    <div class="session-Right">
      <div class="developerHeader animated-textRight3s">
        <div>Software Developer</div>
      </div>
    </div>
    <div class="session-left">
      <div class="Menu-link">
        <div>
          <a href="{{ url_for('workPage.workpage') }}" class="animated-textLeft"
            >Work</a
          >
        </div>
        <div>
          <a
            href="{{ url_for('aboutPage.aboutpage') }}"
            class="animated-textLeft"
            >About</a
          >
        </div>
        <div>
          <a
            href="{{ url_for('contactPage.contact') }}"
            class="animated-textLeft"
            >Contact</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
